*
!*/
!.gitignore
!kubejs/data/skylands/worldgeb/noise/continentalness.json
!kubejs/data/skylands/worldgeb/noise/islands.json
!shaderpacks/**
!config/mmorpg-client.toml
!config/fancymenu/**
!minemenu/**

# scripts
!scripts/**
!create_mod_list.bat
!create_mod_list.sh
!extract_from_cf.bat
!extract_from_cf.sh
!sync.sh
!sync.bat

!mod_list.json